:root{
    --font-roboto-14-400: normal 400 14px/17px var(--font-fam-roboto), sans-serif;
    --font-roboto-22-400: normal 400 22px/26px var(--font-fam-roboto), sans-serif;
    --font-roboto-10-700: normal 700 10px/12px var(--font-fam-roboto), sans-serif;
    --font-roboto-20-900: normal 900 20px/25px var(--font-fam-roboto), sans-serif;
    --font-quicksand-14-400-34: normal 400 14px/34px var(--font-fam-quick), sans-serif;
    --font-quicksand-14-400: normal 400 14px/18px var(--font-fam-quick), sans-serif;
    --font-quicksand-12-400: normal 400 12px/15px var(--font-fam-quick), sans-serif;
    --font-fam-roboto:'Roboto', 'Segoe UI', sans-serif;
    --font-fam-quick:'Quicksand', 'Segoe UI', sans-serif;
    --font-fam-segoe:'Segoe UI', sans-serif;
    --color-light:#FDF1EB;
    --color-default:#ED7839;
    --color-txt-orange-dark: #725C5C;
    --color-txt-dark: #5c5c5c;
    --color-white:#fff;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

.title-media{
    font: var(--font-roboto-20-900);
    color: var(--color-default);
    margin-bottom: 20px;
}
.main-content{
    padding: 20px 45px;

}